body {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center;     /* Center vertically */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-image: url('https://img.freepik.com/free-vector/black-geometric-memphis-social-banner_53876-116843.jpg?t=st=1723618519~exp=1723622119~hmac=32e43d3fa86b6d94a49fbaef5d0272cc98e7f9ef5e141f46ba39ee3f319e6c44&w=740'); /* Direct image URL */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.github-icon {
    text-decoration: none;
}

.github-logo {
    width: 120px;  /* Width of the GitHub logo */
    height: 120px; /* Height of the GitHub logo */
    background-color: #ffffff; /* Dark background color */
    border-radius: 50%; /* Circular shape */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px; /* Space around the SVG */
    box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.2); /* Shadow effect */
    transition: all 0.3s ease;
}

.github-icon:hover .github-logo {
    background-color: #24292e; /* Slightly darker color on hover */
    transform: scale(1.1);
    box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.3); /* Enhanced shadow on hover */
}


/* Keyframe Animation */
@keyframes slide {
    0% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(20px); /* Move 20px to the right */
    }
    100% {
        transform: translateX(0);
    }
}

.h2{
  background-color: red;
    color: yellow;
    font-family: Arial, sans-serif;
    font-size: 20px;
    line-height: 1.5;
    font-weight: bold;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    position: relative;
    padding: 10px;
     border-radius: 5px;
    margin-top: 10px;
}
.h2:hover{
    background-color: #3b85f57d;
    cursor: pointer;

}


